In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
pyspark.version

In [6]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/tony/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/02 13:49:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/02 13:49:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-02.csv

--2022-03-02 13:47:39--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-02.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.175.105
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.175.105|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 733822658 (700M) [text/csv]
Saving to: ‘fhvhv_tripdata_2021-02.csv’

fhvhv_tripdata_2021 100%[===================>] 699.83M  12.2MB/s    in 67s

2022-03-02 13:48:47 (10.5 MB/s) - ‘fhvhv_tripdata_2021-02.csv’ saved [733822658/733822658]

In [4]:
!wc -l fhvhv_tripdata_2021-02.csv

11613943 fhvhv_tripdata_2021-02.csv

In [7]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-02.csv')

In [8]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02764|2021-02-01 00:10:40|2021-02-01 00:21:09|          35|          39|   null|
|           HV0003|              B02764|2021-02-01 00:27:23|2021-02-01 00:44:01|          39|          35|   null|
|           HV0005|              B02510|2021-02-01 00:28:38|2021-02-01 00:38:27|          39|          91|   null|
|           HV0005|              B02510|2021-02-01 00:43:37|2021-02-01 01:23:20|          91|         228|   null|
|           HV0003|              B02872|2021-02-01 00:08:42|2021-02-01 00:17:57|         126|         250|   null|
|           HV0003|              B02872|2021-02-01 00:26:02|2021-02-01 00:42:51|         208|         243|   null|
|           HV0003|              B02872|2021-02-01 00:45:50|2021-02-01 01:02:50|         243|         220|   null|
|           HV0003|              B02764|2021-02-01 00:06:42|2021-02-01 00:31:50|          49|          37|   null|
|           HV0003|              B02764|2021-02-01 00:34:34|2021-02-01 00:58:13|          37|          76|   null|
|           HV0005|              B02510|2021-02-01 00:03:43|2021-02-01 00:39:37|          80|         241|   null|
|           HV0005|              B02510|2021-02-01 00:55:36|2021-02-01 01:08:39|         174|          51|   null|
|           HV0005|              B02510|2021-02-01 00:06:13|2021-02-01 00:33:45|         235|         129|   null|
|           HV0005|              B02510|2021-02-01 00:42:24|2021-02-01 01:11:31|         129|         169|   null|
|           HV0003|              B02764|2021-02-01 00:07:05|2021-02-01 00:20:53|         226|          82|   null|
|           HV0003|              B02764|2021-02-01 00:28:56|2021-02-01 00:33:59|          82|         129|   null|
|           HV0003|              B02764|2021-02-01 00:44:53|2021-02-01 01:07:54|           7|          79|   null|
|           HV0003|              B02888|2021-02-01 00:17:55|2021-02-01 00:34:41|           4|         170|   null|
|           HV0003|              B02888|2021-02-01 00:38:14|2021-02-01 00:59:20|         164|          42|   null|
|           HV0004|              B02800|2021-02-01 00:08:04|2021-02-01 00:24:41|         237|           4|   null|
|           HV0004|              B02800|2021-02-01 00:30:44|2021-02-01 00:41:26|         107|          45|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [10]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-02-01 00:10:40', dropoff_datetime='2021-02-01 00:21:09', PULocationID='35', DOLocationID='39', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-02-01 00:27:23', dropoff_datetime='2021-02-01 00:44:01', PULocationID='39', DOLocationID='35', SR_Flag=None),
 Row(hvfhs_license_num='HV0005', dispatching_base_num='B02510', pickup_datetime='2021-02-01 00:28:38', dropoff_datetime='2021-02-01 00:38:27', PULocationID='39', DOLocationID='91', SR_Flag=None),
 Row(hvfhs_license_num='HV0005', dispatching_base_num='B02510', pickup_datetime='2021-02-01 00:43:37', dropoff_datetime='2021-02-01 01:23:20', PULocationID='91', DOLocationID='228', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02872', pickup_datetime='2021-02-01 00:08:42', dropoff_datetime='2021-02-01 00:17:57', PULocationID='126', DOLocationID='250', SR_Flag=None)]

In [11]:
df.schema

StructType(List(StructField(hvfhs_license_num,StringType,true),StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,StringType,true),StructField(dropoff_datetime,StringType,true),StructField(PULocationID,StringType,true),StructField(DOLocationID,StringType,true),StructField(SR_Flag,StringType,true)))

In [12]:
from pyspark.sql import types

In [13]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [14]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-02.csv')

In [15]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02764|2021-02-01 00:10:40|2021-02-01 00:21:09|          35|          39|   null|
|           HV0003|              B02764|2021-02-01 00:27:23|2021-02-01 00:44:01|          39|          35|   null|
|           HV0005|              B02510|2021-02-01 00:28:38|2021-02-01 00:38:27|          39|          91|   null|
|           HV0005|              B02510|2021-02-01 00:43:37|2021-02-01 01:23:20|          91|         228|   null|
|           HV0003|              B02872|2021-02-01 00:08:42|2021-02-01 00:17:57|         126|         250|   null|
|           HV0003|              B02872|2021-02-01 00:26:02|2021-02-01 00:42:51|         208|         243|   null|
|           HV0003|              B02872|2021-02-01 00:45:50|2021-02-01 01:02:50|         243|         220|   null|
|           HV0003|              B02764|2021-02-01 00:06:42|2021-02-01 00:31:50|          49|          37|   null|
|           HV0003|              B02764|2021-02-01 00:34:34|2021-02-01 00:58:13|          37|          76|   null|
|           HV0005|              B02510|2021-02-01 00:03:43|2021-02-01 00:39:37|          80|         241|   null|
|           HV0005|              B02510|2021-02-01 00:55:36|2021-02-01 01:08:39|         174|          51|   null|
|           HV0005|              B02510|2021-02-01 00:06:13|2021-02-01 00:33:45|         235|         129|   null|
|           HV0005|              B02510|2021-02-01 00:42:24|2021-02-01 01:11:31|         129|         169|   null|
|           HV0003|              B02764|2021-02-01 00:07:05|2021-02-01 00:20:53|         226|          82|   null|
|           HV0003|              B02764|2021-02-01 00:28:56|2021-02-01 00:33:59|          82|         129|   null|
|           HV0003|              B02764|2021-02-01 00:44:53|2021-02-01 01:07:54|           7|          79|   null|
|           HV0003|              B02888|2021-02-01 00:17:55|2021-02-01 00:34:41|           4|         170|   null|
|           HV0003|              B02888|2021-02-01 00:38:14|2021-02-01 00:59:20|         164|          42|   null|
|           HV0004|              B02800|2021-02-01 00:08:04|2021-02-01 00:24:41|         237|           4|   null|
|           HV0004|              B02800|2021-02-01 00:30:44|2021-02-01 00:41:26|         107|          45|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [16]:
df = df.repartition(24)

In [17]:
df.write.parquet('fhvhv/2021/02/')

In [18]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [19]:
df_fhvhv = spark.read.parquet('fhvhv/2021/02/')

In [20]:
df_fhvhv.count()

11613942

In [21]:
df_fhvhv.registerTempTable('fhvhv_data')

In [22]:
spark.sql("""
SELECT
    count(1)
FROM
    fhvhv_data
WHERE 
    pickup_datetime = '2021-02-15'
""").show()

+--------+
|count(1)|
+--------+
|       5|
+--------+

In [55]:
spark.sql("""
SELECT
    pickup_datetime, dropoff_datetime,
    dropoff_datetime - pickup_datetime as duration
FROM
    fhvhv_data
WHERE 
    DATEDIFF(dropoff_datetime, pickup_datetime) > 0
ORDER BY
    DATEDIFF(dropoff_datetime, pickup_datetime)
""").show()

+-------------------+-------------------+--------------------+
|    pickup_datetime|   dropoff_datetime|            duration|
+-------------------+-------------------+--------------------+
|2021-02-04 23:59:35|2021-02-05 00:16:08|16 minutes 33 sec...|
|2021-02-05 23:49:47|2021-02-06 00:05:22|15 minutes 35 sec...|
|2021-02-03 23:57:26|2021-02-04 00:12:04|14 minutes 38 sec...|
|2021-02-05 23:52:05|2021-02-06 00:02:19|10 minutes 14 sec...|
|2021-02-03 23:38:52|2021-02-04 00:17:12|38 minutes 20 sec...|
|2021-02-05 23:54:11|2021-02-06 00:03:39|9 minutes 28 seconds|
|2021-02-04 23:53:47|2021-02-05 00:05:31|11 minutes 44 sec...|
|2021-02-05 23:29:08|2021-02-06 00:00:47|31 minutes 39 sec...|
|2021-02-03 23:53:43|2021-02-04 00:08:08|14 minutes 25 sec...|
|2021-02-03 23:57:37|2021-02-04 00:04:04|6 minutes 27 seconds|
|2021-02-03 23:56:32|2021-02-04 00:01:24|4 minutes 52 seconds|
|2021-02-01 23:57:13|2021-02-02 00:27:20|30 minutes 7 seconds|
|2021-02-03 23:47:58|2021-02-04 00:14:22|26 minutes 24 sec...|
|2021-02-03 23:36:31|2021-02-04 00:14:15|37 minutes 44 sec...|
|2021-02-03 23:54:49|2021-02-04 00:02:46|7 minutes 57 seconds|
|2021-02-02 23:45:30|2021-02-03 00:02:00|16 minutes 30 sec...|
|2021-02-05 23:53:47|2021-02-06 00:06:23|12 minutes 36 sec...|
|2021-02-01 23:51:11|2021-02-02 00:06:06|14 minutes 55 sec...|
|2021-02-04 23:53:25|2021-02-05 00:05:42|12 minutes 17 sec...|
|2021-02-04 23:50:33|2021-02-05 00:03:38|13 minutes 5 seconds|
+-------------------+-------------------+--------------------+
only showing top 20 rows

In [56]:
spark.sql("""
SELECT
    dispatching_base_num, count(1) as total_count
FROM
    fhvhv_data
GROUP BY 
    dispatching_base_num
ORDER BY
    total_count DESC
""").show()

+--------------------+-----------+
|dispatching_base_num|total_count|
+--------------------+-----------+
|              B02510|    3233664|
|              B02764|     965568|
|              B02872|     882689|
|              B02875|     685390|
|              B02765|     559768|
|              B02869|     429720|
|              B02887|     322331|
|              B02871|     312364|
|              B02864|     311603|
|              B02866|     311089|
|              B02878|     305185|
|              B02682|     303255|
|              B02617|     274510|
|              B02883|     251617|
|              B02884|     244963|
|              B02882|     232173|
|              B02876|     215693|
|              B02879|     210137|
|              B02867|     200530|
|              B02877|     198938|
+--------------------+-----------+
only showing top 20 rows

In [58]:
df_zones = spark.read.parquet('code/zones/')

In [60]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [59]:
df_zones.registerTempTable('lookup_zones')

In [77]:
spark.sql("""
SELECT
    CONCAT(PULocationID, '/', DOLocationID) AS pair, COUNT(1) AS TOTAL_COUNT
FROM
    fhvhv_data
GROUP BY pair
ORDER BY TOTAL_COUNT DESC
""").show()

+-------+-----------+
|   pair|TOTAL_COUNT|
+-------+-----------+
|  76/76|      45041|
|  26/26|      37329|
|  39/39|      28026|
|  61/61|      25976|
|  14/14|      17934|
|    7/7|      14688|
|129/129|      14688|
|  42/42|      14481|
|  37/37|      14424|
|  89/89|      13976|
|216/216|      13716|
|  35/35|      12829|
|132/265|      12542|
| 188/61|      11814|
|  95/95|      11548|
|  36/37|      11491|
|  37/36|      11487|
| 61/188|      11462|
| 61/225|      11342|
|188/188|      11308|
+-------+-----------+
only showing top 20 rows

In [78]:
spark.sql("""
SELECT
    *
FROM
    lookup_zones
WHERE LocationID = 76
""").show()

+----------+--------+-------------+------------+
|LocationID| Borough|         Zone|service_zone|
+----------+--------+-------------+------------+
|        76|Brooklyn|East New York|   Boro Zone|
+----------+--------+-------------+------------+